@import url(https://fonts.googleapis.com/css?family=Lato|Noto+Sans+TC|Roboto);
.nav-before .nav-bar-wrapper a.logo-set .en-title {
  font-family: "Lato"; }

html,
body {
  background-color: #eeeeee;
  font-family: "Noto Sans TC", "Lato"; }

a {
  color: white; }

.nav-before {
  background-color: #00000067;
  width: 100%;
  position: fixed;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .nav-before .nav-bar-wrapper {
    display: inline-block;
    margin: 0 auto;
    width: 1150px;
    max-width: 1150px; }
    .nav-before .nav-bar-wrapper a.logo-set {
      color: #fff;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
      .nav-before .nav-bar-wrapper a.logo-set li {
        float: left; }
      .nav-before .nav-bar-wrapper a.logo-set img.logo {
        margin-top: 7px;
        margin-right: 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-filter: brightness(5) grayscale(1);
        filter: brightness(5) grayscale(1); }
      .nav-before .nav-bar-wrapper a.logo-set .cn-title {
        letter-spacing: 1px; }
      .nav-before .nav-bar-wrapper a.logo-set .en-title {
        display: block;
        font-size: xx-small; }
      .nav-before .nav-bar-wrapper a.logo-set:hover {
        color: #000;
        font-weight: 500; }
        .nav-before .nav-bar-wrapper a.logo-set:hover img.logo {
          -webkit-filter: brightness(0);
          filter: brightness(0); }
    .nav-before .nav-bar-wrapper .main-menu {
      display: inline-block; }
      .nav-before .nav-bar-wrapper .main-menu a {
        color: #fff;
        text-decoration: none;
        padding: 5px 1.5rem;
        margin: 0 10px;
        border-radius: 5px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        .nav-before .nav-bar-wrapper .main-menu a:hover {
          background: #fff;
          color: #000; }
      .nav-before .nav-bar-wrapper .main-menu ul {
        float: left; }
        .nav-before .nav-bar-wrapper .main-menu ul li {
          display: inline-block;
          position: relative; }
          .nav-before .nav-bar-wrapper .main-menu ul li ul {
            position: absolute;
            display: block;
            width: 250px;
            padding-top: 50px;
            top: 100%;
            left: -100000%;
            z-index: 9999; }
            .nav-before .nav-bar-wrapper .main-menu ul li ul .bg-fix {
              background: #000;
              padding-top: 10px;
              margin-top: -22px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px; }
            .nav-before .nav-bar-wrapper .main-menu ul li ul .bg-fix-sm {
              background: #000;
              padding-top: 10px;
              margin-top: -22px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              width: 150px; }
            .nav-before .nav-bar-wrapper .main-menu ul li ul li {
              display: block; }
              .nav-before .nav-bar-wrapper .main-menu ul li ul li a {
                background: #000;
                display: inline-block;
                border-radius: 5px;
                margin-top: 0px;
                margin-bottom: 10px; }
              .nav-before .nav-bar-wrapper .main-menu ul li ul li img {
                -webkit-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
                margin-right: 5px;
                margin-top: -5px; }
              .nav-before .nav-bar-wrapper .main-menu ul li ul li:hover img {
                -webkit-filter: brightness(0);
                filter: brightness(0); }
          .nav-before .nav-bar-wrapper .main-menu ul li:hover ul {
            left: 0%; }
    .nav-before .nav-bar-wrapper .log-search {
      float: right;
      margin-top: 1rem; }
      .nav-before .nav-bar-wrapper .log-search button {
        background: none;
        border: 1px solid white;
        outline: none;
        font-family: "Lato";
        font-size: small;
        color: #fff;
        padding: 5px 15px;
        border-radius: 15px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
        .nav-before .nav-bar-wrapper .log-search button#logOut {
          border-radius: 40px;
          padding: 5px 15px 5px 10px;
          margin-top: -1rem; }
        .nav-before .nav-bar-wrapper .log-search button:hover {
          color: #000;
          font-weight: 700;
          background-color: #fff; }
      .nav-before .nav-bar-wrapper .log-search #logOut {
        display: none;
        font-family: "Noto Sans TC"; }
        .nav-before .nav-bar-wrapper .log-search #logOut span {
          position: relative;
          top: 2px;
          margin-left: 3px; }
        .nav-before .nav-bar-wrapper .log-search #logOut .user__photo {
          width: 2rem;
          border-radius: 100%; }
  .nav-before.sticky {
    background-color: #474747;
    position: fixed;
    top: 0;
    border-top: 3px solid #b39368;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .nav-before.sticky a.logo-set:hover {
      color: #b39368; }
      .nav-before.sticky a.logo-set:hover img.logo {
        -webkit-filter: brightness(1) grayscale(0);
        filter: brightness(1) grayscale(0); }
    .nav-before.sticky .log-search > a:hover {
      color: #b39368; }
    .nav-before.sticky .log-search > button:hover {
      color: #000;
      border-color: #b39368; }

/* search form */
.navbar.search-active {
  overflow: hidden; }

.navbar.search-active .search-input {
  opacity: 1;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  pointer-events: all; }

.navbar.search-active .icon-close {
  opacity: 1;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg); }

.navbar.search-active .control {
  cursor: default; }

.navbar.search-active .control .btn-material {
  -webkit-transform: scale(100);
  -ms-transform: scale(100);
  transform: scale(100);
  background: -webkit-linear-gradient(left, #a87f33, #00000057);
  opacity: .7;
  z-index: unset; }

.navbar.search-active .control .icon-material-search {
  opacity: 0; }

.search-box {
  position: relative; }

/* Close Icon */
.icon-close {
  display: none;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 4px; }

.icon-close img {
  position: absolute;
  right: -0.5rem;
  top: 0rem;
  height: 2rem; }

.icon-close:hover {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

/* Search Input */
.search-input {
  position: absolute;
  top: -0.4rem;
  left: -18rem;
  margin: auto;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  transform: translate(40px, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.search-input input {
  width: 100%;
  color: #ccc;
  font-size: 20px;
  font-weight: lighter;
  height: 40px;
  line-height: 40px;
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0; }

.search-input ::-webkit-input-placeholder {
  color: #eee; }

.search-input :-moz-placeholder {
  color: #eee;
  opacity: 1; }

.search-input ::-moz-placeholder {
  color: #eee;
  opacity: 1; }

.search-input :-ms-input-placeholder {
  color: #eee; }

/* Control btn */
.control {
  position: relative;
  right: 8rem;
  top: -0.3rem;
  cursor: pointer;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s; }
  .control .btn-material {
    position: absolute;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.432);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-transform-origin: 50%;
    -ms-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1); }
  .control .icon-material-search {
    color: #fff;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    left: 10px;
    top: -2px;
    line-height: 40px; }
  .control.left-shift-4rem {
    right: 12rem; }
