@import url(https://fonts.googleapis.com/css?family=Lato|Noto+Sans+TC|Roboto);
$font-cn: 'Noto Sans TC';
$font-en: 'Lato';
$bgColor: #e4e4e4;
$font-d: #b39368;
$font-w: #fff;
$font-dark: #474747;
$font-bk: #000;
$font-gray: #969696;
$gold: #ffc240;
$brown: #d68b00;
$red: #b40606;
$blue: #00a2ff;

%cn {
    font-family: $font-cn;
}

%en {
    font-family: $font-en;
}

html,
body {
    background-color: $bgColor;
    font-family: $font-cn, $font-en;
    outline: none;
    background: $bgColor;
}

a {
    color: white;
    outline: none;
}

button {
    outline: none !important;
}

.en {
    @extend %en;
}

.cursor-default {
    cursor: default;
}

// 提示腳標客製化 Tooltip-part
.tooltip-inner {
    font-family: 'Noto Sans TC';
    max-width: 70%;
    font-size: 17px;
    padding: 8px 15px;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

// before-sticky
.nav-before {
    background-color: #00000067;
    width: 100%;
    position: fixed;
    transition: .5s;
    z-index: 9999;

    .nav-bar-wrapper {
        display: inline-block;
        margin: 0 auto;
        width: 1150px;
        max-width: 1150px;

        a.logo-set {
            color: $font-w;
            transition: .5s;

            li {
                float: left;
            }

            img.logo {
                margin-top: 7px;
                margin-right: 10px;
                transition: .3s;
                filter: brightness(5) grayscale(1);
            }

            .cn-title {
                letter-spacing: 1px;
            }

            .en-title {
                display: block;
                @extend %en;
                font-size: xx-small;
            }

            &:hover {
                color: $font-d;
                font-weight: 500;

                img.logo {
                    filter: brightness(1);
                }
            }
        }

        // hover-dropdown-menu
        .main-menu {
            display: inline-block;

            a {
                color: $font-w;
                text-decoration: none;
                padding: 5px 1.5rem;
                // border: 1px solid red;
                margin: 0 10px;
                border-radius: 5px;
                transition: .5s;

                &:hover {
                    background: #fff;
                    color: $font-bk;
                }
            }

            ul {
                float: left;

                li {
                    display: inline-block;
                    position: relative;

                    ul {
                        position: absolute;
                        display: block;
                        width: 250px;
                        padding-top: 50px;
                        top: 100%;
                        left: -100000%;
                        z-index: 9999;

                        .bg-fix {
                            background: #000;
                            padding-top: 10px;
                            margin-top: -22px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                        }

                        .bg-fix-sm {
                            background: #000;
                            padding-top: 10px;
                            margin-top: -22px;
                            border-bottom-left-radius: 5px;
                            border-bottom-right-radius: 5px;
                            width: 150px;
                        }

                        li {
                            display: block;

                            a {
                                background: #000;
                                display: inline-block;
                                border-radius: 5px;
                                margin-top: 0px;
                                margin-bottom: 10px;
                            }

                            img {
                                transition: .5s;
                                margin-right: 5px;
                                margin-top: -5px;
                            }

                            &:hover {
                                img {
                                    filter: brightness(0);
                                }
                            }
                        }
                    }

                    &:hover {
                        ul {
                            left: 0%;
                        }
                    }
                }
            }
        }

        //login-search
        .log-search {
            float: right;
            margin-top: 1rem;

            button {
                background: none;
                border: 1px solid white;
                outline: none;
                font-family: $font-en;
                font-size: small;
                color: $font-w;
                padding: 5px 15px;
                border-radius: 15px;
                transition: .3s;

                &#logOut {
                    border-radius: 40px;
                    padding: 5px 15px 5px 10px;
                    margin-top: -1rem;
                }

                &:hover {
                    color: $font-bk;
                    font-weight: 700;
                    background-color: #fff;
                }
            }

            #logOut {
                display: none;
                font-family: $font-cn;

                span {
                    position: relative;
                    top: 2px;
                    margin-left: 3px;
                }

                .user__photo {
                    width: 2rem;
                    border-radius: 100%;
                }
            }
        }
    }

    &.sticky {
        background-color: $font-dark;
        position: fixed;
        top: 0;
        border-top: 3px solid #b39368;
        transition: .5s;

        & a.logo-set:hover {
            color: #b39368;

            img.logo {
                filter: brightness(1) grayscale(0);
            }
        }

        .log-search>a:hover {
            color: #b39368;
        }

        .log-search>button:hover {
            color: $font-bk;
            border-color: #b39368;
        }
    }
}


/* search form */

.navbar.search-active {
    overflow: hidden;
}

.navbar.search-active .search-input {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

.navbar.search-active .icon-close {
    opacity: 1;
    transform: rotate(-90deg);
}

.navbar.search-active .control {
    cursor: default;
}

.navbar.search-active .control .btn-material {
    transform: scale(100);
    background: -webkit-linear-gradient(left, #a87f33, #00000057);
    opacity: .7;
    z-index: unset;
}

.navbar.search-active .control .icon-material-search {
    opacity: 0;
}

.search-box {
    position: relative;
}


/* Close Icon */

.icon-close {
    display: none;
    cursor: pointer;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    margin-top: 4px;
}

.icon-close img {
    position: absolute;
    right: -0.5rem;
    top: 0rem;
    height: 2rem;
}

.icon-close:hover {
    transform: rotate(0);
}


/* Search Input */

.search-input {
    position: absolute;
    top: -0.4rem;
    left: -18rem;
    margin: auto;
    pointer-events: none;
    opacity: 0;
    transform: translate(40px, 0);
    transition: all 0.3s ease-in-out;
}

.search-input input {
    width: 100%;
    color: #ccc;
    font-size: 20px;
    font-weight: lighter;
    height: 40px;
    line-height: 40px;
    border: 0;
    background: transparent;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
}

.search-input ::-webkit-input-placeholder {
    color: #eee;
}

.search-input :-moz-placeholder {
    color: #eee;
    opacity: 1;
}

.search-input ::-moz-placeholder {
    color: #eee;
    opacity: 1;
}

.search-input :-ms-input-placeholder {
    color: #eee;
}


/* Control btn */

.control {
    position: relative;
    right: 8rem;
    top: -0.3rem;
    cursor: pointer;
    transition-duration: .3s;

    .btn-material {
        position: absolute;
        width: 38px;
        height: 38px;
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.432);
        box-sizing: border-box;
        outline: 0;
        transform-origin: 50%;
        transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .icon-material-search {
        color: #fff;
        transition: opacity 0.3s ease-in-out;
        position: absolute;
        left: 10px;
        top: -2px;
        line-height: 40px;
    }

    &.left-shift-5rem {
        right: 13rem;
    }
}

// 輪播 Banner 區塊
$bg_color: #2d3042;
$font_color: #efefef;
$link_color: #efefef;
$link_hover_color: #fff;

%bv_hidden {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

%filled_obj {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.main-slider {
    position: relative;
    width: 100%;
    height: 33vw;
    min-height: 25vw;
    opacity: 0;
    visibility: hidden;
    transition: all 1.2s ease;

    &.slick-initialized {
        opacity: 1;
        visibility: visible;
    }
}

.slick-slide {
    position: relative;
    height: 33vw;
    min-height: 25vw;
    @extend %bv_hidden;

    &::before {
        @extend %filled_obj;
        @extend %bv_hidden;
        background-color: #000;
        opacity: .3;
        z-index: 1;
    }

    video {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
    }

    iframe {
        position: relative;
        pointer-events: none;
    }

    figure {
        position: relative;
        height: 100%;
    }

    .image-entity {
        width: 100%;
        opacity: 0;
        visibility: hidden;
    }

    .loading {
        position: absolute;
        top: 44%;
        left: 0;
        width: 100%;
    }

    .slide-media {
        animation: slideOut .4s cubic-bezier(0.4, 0.29, 0.01, 1);
    }

    &.slick-active {
        z-index: 1;

        .slide-media {
            animation: slideIn 2.4s cubic-bezier(0.4, 0.29, 0.01, 1);
        }

        .caption {
            opacity: 1;
            transform: translateY(0);
            transition: all .7s cubic-bezier(0.32, 0.34, 0, 1.62) .6s;
        }
    }
}

.slide-image {
    opacity: 0;
    height: 33vw;
    min-height: 25vw;
    background-size: cover;
    background-position: center;
    // background-color:rgba(#c46897,.38);
    // background-blend-mode:overlay;
    transition: all .8s ease;

    &.show {
        opacity: 1;
    }
}

.main-slider,
.slick-slide,
.slide-image {
    height: 33vw;

    @media (max-width: 995px) {
        height: 40vw;
    }
}

.slick-next,
.slick-prev {
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.322);
    font-size: 70px;
    transition: .5s;
    top: 45%;

    &:hover {
        color: rgba(255, 255, 255, 0.829);
    }

    @media (max-width: 1420px) {
        font-size: 60px;
    }

    @media (max-width: 990px) {
        font-size: 50px;
    }
}

.slick-prev {
    left: 15%;

    @media (max-width: 995px) {
        left: 10%;
    }
}

.slick-next {
    right: 15%;

    @media (max-width: 995px) {
        right: 10%;
    }
}

.caption {
    position: absolute;
    top: 56.5%;
    left: 50%;
    width: 600px;
    height: 200px;
    text-align: center;
    padding: 30px 50px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #fff;
    margin-top: -100px;
    margin-left: -300px;
    font-size: 30px;
    letter-spacing: .03em;
    opacity: 0;
    z-index: 1;
    transition: all .3s ease;
    transform: translateY(100px);
    @extend %bv_hidden;
    $colors: (fill: #a972cb, pulse-btn: #ef6eae, close-btn: #ff7f82, raise-btn: #ffa260, up-btn: #e4cb58, slide-btn: #fff, offse-btnt: #19bc8b);

    @each $button,
    $color in $colors {
        .#{$button} {
            --color: #{$color};
            --hover: #{adjust-hue($color, 45deg)};
        }
    }

    .slide-btn:hover,
    .slide-btn:focus {
        box-shadow: inset 8.5em 0 0 0 var(--hover);
    }

    button {
        display: block;
        margin: 15px auto;
        font-size: 18px;
        background: none;
        border: 1px solid white;
        padding: 5px 15px;
        color: var(--color);
        transition: 0.25s;

        &:hover,
        &:focus {
            border-color: var(--hover);
            color: #000;
        }
    }

    .name {
        display: block;
        font-size: 18px;
    }
}

.slick-dots {
    text-align: center;
    padding-top: 15px;

    li {
        display: inline-block;
        vertical-align: top;
        margin: 0 8px;

        button {
            width: 16px;
            height: 16px;
            border: none;
            cursor: pointer;
            border-radius: 50%;
            border: 2px solid #fff;
            box-shadow: 0 0 0 0 transparent;
            vertical-align: middle;
            color: #fff;
            background-color: #fff;
            transition: all .3s ease;
            opacity: .4;

            &:focus {
                outline: none;
            }

            &:hover {
                opacity: 1;
            }
        }

        &.slick-active {
            button {
                border-color: $bg_color;
                box-shadow: 0 0 0 2px #fff;
                opacity: 1;
            }
        }
    }
}

@keyframes slideIn {
    from {
        filter: blur(15px);
    }

    to {
        filter: blur(0);
    }
}

@keyframes slideOut {
    from {
        filter: blur(0);
    }

    to {
        filter: blur(15px);
    }
}

// 網站特色 內容簡介區塊
.web-intro {
    position: relative;
    width: 100%;

    .three-part {
        padding-top: 1rem;
        padding-bottom: 1rem;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        background-image: linear-gradient(to right, rgb(100, 100, 100), rgb(179, 95, 0));
        margin-bottom: 0;

        .infoG,
        .MobileG,
        .teacherG {
            flex: 0.2;
            height: 70px;
            border-right: 1px solid lightgray;
            margin: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            @media (max-width: 1150px) {
                display: flex;
                color: white;
                flex: 0.25;
            }

            @media (max-width: 990px) {
                display: flex;
                color: white;
                flex: 0.3;
            }

            .icon {
                flex: 0.2;
                color: white;
                font-size: 60px;

                @media (max-width: 1420px) {
                    font-size: 55px;
                }
            }

            .cont {
                flex: 0.6;
                color: white;
                font-weight: lighter;
                font-size: 15px;

                @media (max-width: 1420px) {
                    flex: 0.7;
                }

                @media (max-width: 1150px) {
                    display: none;
                }

                &-md {
                    display: none;

                    @media (max-width: 1150px) {
                        display: flex;
                        color: white;
                        flex: 0.7;
                        padding-left: 20px;
                    }
                }
            }
        }

        .teacherG {
            border: none;
        }
    }
}

.index-class {
    padding-top: 5rem;

    &.rec-class-section {
        padding-top: 6rem;
    }

    .flex-ls-wrapper {
        margin: 0 auto;
        flex-wrap: wrap;
        width: 60%;
        min-width: 1050px;

        .title-wrapper.col-12 {
            padding-left: 10px;
            margin-bottom: 1rem;
        }

        .coursetitle {
            color: $font-dark;
            font-size: 30px;

            img {
                margin-bottom: 10px;
                margin-right: 10px;
            }

            .more {
                float: right;
                font-size: 20px;
                line-height: 50px;
                color: $font-dark;
                transition: .2s;

                &:hover {
                    text-decoration: none;
                    color: $font-bk;
                }
            }

            #fund-tooltip {
                display: inline-block;
                font-size: 25px;
                margin-left: 5px;
                color: $font-gray;
            }


        }

        .class-thumb {
            height: 445px;
            // background: gray;
            padding: 10px;
            cursor: pointer;

            .thumb {
                background: #fff;
                width: 100%;
                height: 100%;
                transition: .3s;
                overflow: hidden;
                border-bottom: 5px solid;

                .price {
                    display: inline;
                    position: absolute;
                    right: 25px;
                    bottom: 25px;

                    span {
                        display: inline-block;
                        color: rgb(214, 139, 0);
                        font-size: 28px;
                    }
                }

                &__on {
                    border-color: $red;

                    .price span {
                        font-size: 32px;
                    }
                }

                &__fund {
                    border-color: $blue;

                    .price span {
                        font-size: 25px;
                    }
                }

                .thumb-header {
                    height: 165px;
                    overflow: hidden;

                    .poster {
                        position: relative;
                        display: block;
                        width: 100%;
                        height: 165px;
                        overflow: hidden;
                        background-size: 125%;
                        background-position: center;
                        transition-duration: .5s;

                        .add {
                            background: none;
                            border: 3px solid white;
                            height: 60px;
                            width: 60px;
                            font-size: 30px;
                            border-radius: 100%;
                            color: white;
                            position: relative;
                            top: 45%;
                            left: 50%;
                            margin-top: -30px;
                            margin-left: -30px;
                            visibility: hidden;
                            opacity: 0;
                            transition: .5s;
                        }

                        .mark {
                            height: 40px;
                            width: 150px;
                            line-height: 31px;
                            font-size: 18px;
                            text-align: center;
                            color: $font-w;
                            transform: rotate(45deg);
                            position: absolute;
                            right: -15%;
                            top: 9%;

                            &__on {
                                background: $red;
                            }

                            &__fund {
                                background: $blue;
                            }
                        }
                    }

                }

                &:hover {

                    .poster {
                        background-size: 150%;

                        .add {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                .thumb-body {
                    .title {
                        font-size: 27px;
                        padding: 15px 15px 15px 15px;
                        max-height: 100px;
                        overflow: hidden;
                    }

                    .cont,
                    .time,
                    .name,
                    .progress {
                        padding: 2px 15px;
                        color: $font-gray;
                        font-size: 18px;

                        span.star {
                            color: $gold;
                            margin-right: 5px;
                        }
                    }

                    .cont {
                        .process__title {
                            width: 100%;
                            font-size: 18px;

                            .date {
                                float: right;
                                margin-right: 3px;

                                .num {
                                    color: $blue;
                                }
                            }
                        }

                        .process__bar {
                            width: 100%;
                            height: 15px;
                            border-radius: 10px;
                            background: $bgColor;
                            overflow: hidden;
                            margin: 5px 0;

                            .process__thumb {
                                height: 15px;
                                width: 33.33333%;
                                background-color: $blue;
                            }
                        }

                        .process__people {
                            width: 100%;

                            .process__static {
                                font-size: 18px;
                                display: inline-block;
                                width: 100%;
                                text-align: left;

                                .num {
                                    color: $blue;
                                }
                            }
                        }
                    }
                }

                .add-mark {
                    display: inline;
                    position: absolute;
                    left: 30px;
                    bottom: 23px;
                    font-size: 30px;
                    color: $gold;
                }
            }
        }
    }
}