@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Noto+Sans+TC:100,300,400,500,700,900|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=chinese-traditional,cyrillic,cyrillic-ext,greek,greek-ext,japanese,latin-ext,vietnamese");
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.cn {
  font-family: "Noto Sans TC"; }

.en, .nav-before .nav-bar-wrapper a.logo-set .en-title {
  font-family: "Lato"; }

.bg-gray {
  background: #F3F3F3; }

.bg-white {
  background: #fff; }

.noscroll {
  overflow: hidden; }

html,
body {
  font-family: "Noto Sans TC", "Lato";
  outline: none;
  background: #F3F3F3;
  min-width: 375px; }
  html a,
  body a {
    color: white;
    outline: none;
    text-decoration: none !important; }

.main-container, .nav-before .nav-bar-wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1150px; }

#userarticle h1,
#userarticle h2,
#userarticle h3,
#userarticle h4,
#userarticle h5,
#userarticle h6 {
  margin-bottom: 10px;
  margin-top: 20px;
  padding-top: .5rem;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); }

blockquote {
  border-left: 5px solid #ffc240;
  margin: 15px 0;
  padding: 0px 20px;
  font-size: 18px;
  font-weight: 500; }
  blockquote p {
    font-size: .8em !important; }

.col {
  padding: 0; }
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 0; }

.row {
  margin: 0; }

button {
  outline: none !important; }

.bold {
  font-weight: 600; }

.cursor-pointer {
  cursor: pointer; }

.cursor-default {
  cursor: default; }

.tooltip-inner {
  font-family: 'Noto Sans TC';
  max-width: 70%;
  font-size: 13px;
  padding: 8px 15px;
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.show-610 {
  display: none; }

.user__photo {
  display: inline-block;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border-radius: 100%; }
  .user__photo-150 {
    height: 150px;
    width: 150px; }
  .user__photo-100 {
    height: 100px;
    width: 100px; }
  .user__photo-90 {
    height: 90px;
    width: 90px; }
  .user__photo-80 {
    height: 80px;
    width: 80px; }
  .user__photo-70 {
    height: 70px;
    width: 70px; }
  .user__photo-60 {
    height: 60px;
    width: 60px; }
  .user__photo-50 {
    height: 50px;
    width: 50px; }
  .user__photo-30 {
    height: 30px;
    width: 30px; }
  .user__photo.supplier {
    border-radius: 0; }

.left-part.source {
  padding: 0 .5rem;
  color: #474747;
  border-radius: 3px; }
  .left-part.source .info-wrapper {
    position: relative;
    border: none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    margin: 1em 1em 0 0; }
    .left-part.source .info-wrapper.type1 {
      color: #474747; }
      .left-part.source .info-wrapper.type1::after, .left-part.source .info-wrapper.type1::before {
        content: '';
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        border: 2px solid;
        -webkit-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease;
        border-radius: 2px; }
      .left-part.source .info-wrapper.type1::after {
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: #474747;
        border-right-color: #474747; }
      .left-part.source .info-wrapper.type1::before {
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: #474747;
        border-left-color: #474747; }
      .left-part.source .info-wrapper.type1:hover:after, .left-part.source .info-wrapper.type1:hover:before {
        width: 100%;
        height: 100%; }
    .left-part.source .info-wrapper.row {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .left-part.source a {
    color: #474747; }
  .left-part.source .ns-block {
    width: 100%;
    max-width: 100%;
    background: #fff;
    margin-bottom: 20px;
    height: unset;
    min-height: unset;
    overflow: hidden; }
    .left-part.source .ns-block.forum {
      height: unset;
      margin-bottom: 1rem; }
    .left-part.source .ns-block .ns-header,
    .left-part.source .ns-block .ns-body {
      display: inline-block;
      height: 100%;
      margin: 0; }
    .left-part.source .ns-block .ns-header {
      width: 100%; }
      .left-part.source .ns-block .ns-header a {
        color: #474747; }
      .left-part.source .ns-block .ns-header.forum {
        width: 15%;
        max-width: 15%;
        overflow: hidden;
        padding: .8rem; }
        .left-part.source .ns-block .ns-header.forum .user__photo.forum {
          border-radius: 0;
          height: 100px;
          width: 100%; }
      .left-part.source .ns-block .ns-header .ns-img {
        height: 100%;
        background-size: cover;
        background-position: center; }
    .left-part.source .ns-block .ns-body {
      width: 50%;
      height: 100%;
      max-height: 100%;
      vertical-align: top;
      overflow: hidden;
      cursor: default;
      padding: 1rem 1rem; }
      .left-part.source .ns-block .ns-body.forum {
        width: 100%; }
        .left-part.source .ns-block .ns-body.forum .user-wrapper {
          margin-bottom: 0px;
          font-size: 0; }
          .left-part.source .ns-block .ns-body.forum .user-wrapper span {
            margin-right: 10px;
            font-size: 15px; }
          .left-part.source .ns-block .ns-body.forum .user-wrapper .like {
            color: #eb3654;
            cursor: pointer; }
      .left-part.source .ns-block .ns-body .ns-title {
        font-size: 16px;
        max-height: 66px;
        overflow: hidden;
        color: #474747;
        font-weight: 600; }
      .left-part.source .ns-block .ns-body .tag {
        margin: 5px 0;
        font-size: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .left-part.source .ns-block .ns-body .tag span {
          font-size: 14px;
          font-weight: 300; }
          .left-part.source .ns-block .ns-body .tag span.like {
            margin-left: 10px;
            color: #eb3654;
            cursor: pointer; }
      .left-part.source .ns-block .ns-body .ns-cont {
        position: relative;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical; }
        .left-part.source .ns-block .ns-body .ns-cont.forum {
          position: relative;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
      .left-part.source .ns-block .ns-body .ns-footer {
        width: 100%; }
        .left-part.source .ns-block .ns-body .ns-footer .ns-btn {
          width: 100%;
          margin-top: 1rem; }
          .left-part.source .ns-block .ns-body .ns-footer .ns-btn .more {
            float: right;
            color: black;
            font-weight: 300; }
            .left-part.source .ns-block .ns-body .ns-footer .ns-btn .more:hover {
              color: #ac7000; }
  .left-part.source .more {
    float: right; }
  .left-part.source .supplier.row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .left-part.source .supplier.row .col-md-4,
    .left-part.source .supplier.row .col-sm-6 {
      padding: 0; }
    .left-part.source .supplier.row .sup-body {
      width: 100%;
      padding: .5rem 1rem .5rem 1rem;
      text-align: center; }
      .left-part.source .supplier.row .sup-body .title {
        font-weight: 600;
        font-size: 16px;
        color: #474747; }
      .left-part.source .supplier.row .sup-body .sub-title {
        color: #969696;
        font-weight: 500; }
  .left-part.source .cata {
    display: inline-block;
    background: #000;
    position: relative;
    margin-right: 8px;
    padding: 2px 8px;
    border-radius: 3px; }
    .left-part.source .cata__ac {
      color: #ff526f; }
    .left-part.source .cata__rc {
      color: #52e5ff; }
    .left-part.source .cata__cp {
      color: #ffcd2b; }
    .left-part.source .cata-ns {
      display: inline-block;
      background: #000;
      color: #ffcd2b;
      position: relative;
      padding: 2px 10px;
      margin-right: 8px;
      border-radius: 3px; }
  .left-part.source .date {
    color: gray; }
  .left-part.source .title-sub {
    display: inline-block;
    font-weight: 500;
    margin-top: .5rem;
    margin-bottom: .5rem; }
  .left-part.source .pagination-wrapper {
    margin-top: 1rem; }
  .left-part.source .start {
    position: absolute;
    right: 1rem;
    z-index: 1;
    cursor: pointer;
    display: block;
    font-size: 16px;
    background: #474747;
    padding: 8px 15px;
    color: white;
    border-radius: 3px; }

@media (max-width: 991px) {
  .hidden-md {
    display: none; } }

@media (max-width: 767px) {
  .hidden-sm {
    display: none; } }

@media (max-width: 610px) {
  .hidden-610 {
    display: none; }
  .show-610 {
    display: initial; } }

@media (max-width: 575px) {
  .show-575 {
    display: initial; } }

.star-rated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%; }
  .star-rated div {
    position: relative;
    display: inline-block;
    margin-right: 4px; }
    .star-rated div.detail-num {
      font-size: 0; }
      .star-rated div.detail-num span {
        font-size: 16px;
        margin-left: 5px; }
    .star-rated div .star-progress {
      position: relative; }
      .star-rated div .star-progress::before {
        font-family: 'Font Awesome 5 Free';
        content: '\f005';
        color: lightgray;
        font-weight: 900;
        z-index: 0;
        position: relative;
        display: inline-block; }
    .star-rated div .star-progress-filled {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0; }
      .star-rated div .star-progress-filled::before {
        font-family: 'Font Awesome 5 Free';
        content: '\f005';
        color: #ffc240;
        font-weight: 900;
        z-index: 1;
        position: relative;
        display: inline-block; }

.padding-top-10 {
  padding-top: 10px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-top-30 {
  padding-top: 30px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-top-50 {
  padding-top: 50px; }

.padding-top-5rem {
  padding-top: 5rem; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-top-40 {
  margin-top: 40px; }

.margin-top-50 {
  margin-top: 50px; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.padding-bottom-40 {
  padding-bottom: 40px; }

.padding-bottom-50 {
  padding-bottom: 50px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-20 {
  margin-bottom: 20px; }

.margin-bottom-30 {
  margin-bottom: 30px; }

.margin-bottom-40 {
  margin-bottom: 40px; }

.margin-bottom-50 {
  margin-bottom: 50px; }

.inner-section {
  background: #fff;
  color: #474747;
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  width: 100%;
  position: relative;
  margin-top: 1rem;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 5px; }
  .inner-section__doc ul {
    list-style-type: circle;
    padding-left: 20px; }
  @media (max-width: 425px) {
    .inner-section {
      border-radius: 0 0 0 0; } }
  .inner-section .title {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 10px; }
  .inner-section img {
    width: 100%; }
  .inner-section blockquote {
    border-left: 5px solid #ffc240;
    margin: 15px 0;
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500; }
    .inner-section blockquote p {
      font-size: .8em !important; }
  .inner-section p {
    line-height: 1.8;
    font-weight: 300; }
  .inner-section pre {
    font-size: 14px;
    line-height: 1.8em;
    margin: 24px 0;
    padding: 8px 16px;
    border-radius: 0;
    border: 0;
    background-color: #F3F3F3; }
  .inner-section a {
    color: #ac7000;
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .inner-section a:hover {
      color: #d69200; }
  .inner-section .Q {
    font-weight: 500;
    font-size: 18px;
    margin: 10px 0; }
  .inner-section .sidebar-box {
    position: relative;
    overflow: hidden; }
    .inner-section .sidebar-box .read-more {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 20px 0;
      /* "transparent" only works here because == rgba(0,0,0,0) */
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(white));
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
      background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), white);
      background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0), white);
      background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0), white); }
      .inner-section .sidebar-box .read-more a.button {
        display: inline-block;
        margin-top: 20px;
        font-family: 'Open Sans';
        color: #474747;
        border-radius: 5px;
        border: 1px solid #474747;
        padding: 3px 10px;
        font-weight: 800; }
    .inner-section .sidebar-box .sub-title {
      font-weight: 600; }
    .inner-section .sidebar-box .inner {
      padding: 10px 0; }
  .inner-section.tab-wrapper {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0; }
    @media (max-width: 425px) {
      .inner-section.tab-wrapper {
        margin-top: 0;
        border-radius: 0 0 0 0; } }
    .inner-section.tab-wrapper.threebtn button {
      width: 33.333333%; }
    .inner-section.tab-wrapper.twobtn button {
      width: 50%; }
    .inner-section.tab-wrapper.onebtn button {
      width: 100%; }
    .inner-section.tab-wrapper button {
      padding: 10px;
      width: 25%;
      background: #fff;
      color: #474747;
      font-weight: 500;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .inner-section.tab-wrapper button:first-child {
        border-radius: 5px 0px 0px 5px; }
        @media (max-width: 425px) {
          .inner-section.tab-wrapper button:first-child {
            border-radius: 0 0 0 0; } }
      .inner-section.tab-wrapper button:last-child {
        border-radius: 0px 5px 5px 0px; }
        @media (max-width: 425px) {
          .inner-section.tab-wrapper button:last-child {
            border-radius: 0 0 0 0; } }
      .inner-section.tab-wrapper button:hover {
        background: #4e4e4e2c; }
      .inner-section.tab-wrapper button.active {
        background: #474747;
        color: #fff; }
  .inner-section.prepare .sidebar-box {
    max-height: 185px; }
  .inner-section.course-content .sidebar-box {
    max-height: 500px; }
  .inner-section.course-content ul li {
    list-style-type: disc !important; }
  .inner-section.course-problem {
    margin-bottom: 2.36rem; }
    .inner-section.course-problem .sidebar-box {
      max-height: 200px; }

.other-reply {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding: 2rem 1rem 1rem 5rem; }
  .other-reply .code-wrapper {
    width: 100%;
    float: right; }
  .other-reply .btn-wrapper {
    float: right; }
  .other-reply textarea,
  .other-reply input {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px;
    color: #474747;
    text-decoration: none;
    box-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
    border-color: #a8a8a8;
    border-radius: 5px;
    border-style: solid; }
    .other-reply textarea::-webkit-input-placeholder,
    .other-reply input::-webkit-input-placeholder {
      color: lightgray;
      display: inline-block; }
    .other-reply textarea:-ms-input-placeholder,
    .other-reply input:-ms-input-placeholder {
      color: lightgray;
      display: inline-block; }
    .other-reply textarea::-ms-input-placeholder,
    .other-reply input::-ms-input-placeholder {
      color: lightgray;
      display: inline-block; }
    .other-reply textarea::placeholder,
    .other-reply input::placeholder {
      color: lightgray;
      display: inline-block; }
  .other-reply .btns {
    width: 100%;
    margin-top: .7rem; }
    .other-reply .btns .code {
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #969696; }
      .other-reply .btns .code::-webkit-input-placeholder {
        font-size: 15px;
        color: lightgray; }
      .other-reply .btns .code:-ms-input-placeholder {
        font-size: 15px;
        color: lightgray; }
      .other-reply .btns .code::-ms-input-placeholder {
        font-size: 15px;
        color: lightgray; }
      .other-reply .btns .code::placeholder {
        font-size: 15px;
        color: lightgray; }
    .other-reply .btns i {
      cursor: pointer;
      padding: 8px 5px 0px 5px;
      margin-right: 10px;
      float: right; }
    .other-reply .btns button {
      background: #F3F3F3;
      border: none;
      border-radius: 5px;
      padding: 5px 15px;
      margin-left: 10px;
      margin-top: 10px;
      -webkit-transition: .2s;
      -o-transition: .2s;
      transition: .2s; }
      .other-reply .btns button:hover {
        background: #969696; }
    .other-reply .btns .code-img {
      float: right; }
      .other-reply .btns .code-img img {
        height: 30px;
        width: auto; }
    .other-reply .btns input.code {
      width: 20%;
      float: right; }

.nav-before {
  background-color: #00000067;
  width: 100%;
  position: fixed;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 99; }
  .nav-before.subindex {
    background-color: #000;
    top: 0; }
    .nav-before.subindex .nav-bar-wrapper .main-menu ul li a {
      border-radius: 3px; }
  .nav-before .nav-bar-wrapper {
    display: inline-block;
    position: relative; }
    .nav-before .nav-bar-wrapper a.logo-set {
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      color: #fff; }
      .nav-before .nav-bar-wrapper a.logo-set li {
        float: left; }
      .nav-before .nav-bar-wrapper a.logo-set img.logo {
        margin-top: 7px;
        margin-right: 10px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-filter: brightness(5) grayscale(1);
        filter: brightness(5) grayscale(1); }
      .nav-before .nav-bar-wrapper a.logo-set .cn-title {
        letter-spacing: 1px; }
        @media (max-width: 425px) {
          .nav-before .nav-bar-wrapper a.logo-set .cn-title {
            display: inline-block;
            margin-top: 8px; } }
      .nav-before .nav-bar-wrapper a.logo-set .en-title {
        display: block;
        font-size: xx-small; }
        @media (max-width: 425px) {
          .nav-before .nav-bar-wrapper a.logo-set .en-title {
            display: none; } }
      .nav-before .nav-bar-wrapper a.logo-set:hover {
        color: #b39368;
        font-weight: 500; }
        .nav-before .nav-bar-wrapper a.logo-set:hover img.logo {
          -webkit-filter: brightness(1);
          filter: brightness(1); }
    .nav-before .nav-bar-wrapper .main-menu {
      display: inline-block;
      min-width: auto;
      padding: 0;
      font-size: 0;
      padding: 1rem .5rem; }
      .nav-before .nav-bar-wrapper .main-menu a {
        color: #fff;
        display: inline-block;
        text-decoration: none;
        border-radius: 5px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        min-width: auto; }
        .nav-before .nav-bar-wrapper .main-menu a:hover {
          background: #fff;
          color: #000; }
      .nav-before .nav-bar-wrapper .main-menu ul {
        float: left;
        margin: 0; }
        .nav-before .nav-bar-wrapper .main-menu ul li {
          display: inline-block;
          margin-right: 10px;
          min-width: auto;
          position: relative;
          padding: 0 .5rem; }
          .nav-before .nav-bar-wrapper .main-menu ul li a {
            font-size: 15px;
            padding: .2rem .5rem; }
          .nav-before .nav-bar-wrapper .main-menu ul li ul {
            position: absolute;
            display: block;
            width: 250px;
            padding-top: 50px;
            top: 100%;
            left: -100000%;
            z-index: 9999; }
            .nav-before .nav-bar-wrapper .main-menu ul li ul .bg-fix {
              background: #000;
              padding-top: 10px;
              margin-top: -22px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px; }
            .nav-before .nav-bar-wrapper .main-menu ul li ul .bg-fix-sm {
              background: #000;
              padding-top: 10px;
              margin-top: -22px;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              width: 150px; }
            .nav-before .nav-bar-wrapper .main-menu ul li ul li {
              display: block; }
              .nav-before .nav-bar-wrapper .main-menu ul li ul li a {
                background: #000;
                display: inline-block;
                border-radius: 5px;
                margin-top: 0px;
                margin-bottom: 10px; }
              .nav-before .nav-bar-wrapper .main-menu ul li ul li img {
                -webkit-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
                margin-right: 5px;
                margin-top: -5px; }
              .nav-before .nav-bar-wrapper .main-menu ul li ul li:hover img {
                -webkit-filter: brightness(0);
                filter: brightness(0); }
          .nav-before .nav-bar-wrapper .main-menu ul li:hover ul {
            left: 0%; }
  .nav-before.sticky {
    background-color: #474747;
    position: fixed;
    top: 0;
    border-top: 3px solid #b39368;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
    .nav-before.sticky a.logo-set:hover {
      color: #b39368; }
      .nav-before.sticky a.logo-set:hover img.logo {
        -webkit-filter: brightness(1) grayscale(0);
        filter: brightness(1) grayscale(0); }
    .nav-before.sticky .log-search > a:hover {
      color: #b39368; }
    .nav-before.sticky .log-search > button:hover {
      color: #000;
      border-color: #b39368; }

#logOut {
  font-family: "Noto Sans TC";
  font-size: 14px;
  color: #fff;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: none;
  padding: 5px 12px;
  margin-top: .6rem;
  border-radius: 40px;
  border: 1px solid white;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  #logOut .user__photo {
    margin-right: 5px; }
  #logOut:hover {
    background: #fff;
    color: #000; }
  #logOut .user__option-wrapper {
    margin-top: 5px;
    position: absolute;
    top: 90%;
    right: 0;
    z-index: 0;
    display: none;
    min-width: 272px;
    text-align: left; }
    #logOut .user__option-wrapper.show {
      display: initial; }
    #logOut .user__option-wrapper .arrow {
      height: 15px;
      width: 15px;
      background: #F3F3F3;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      position: absolute;
      z-index: 1;
      right: 10%;
      border-top-left-radius: 4px; }
    #logOut .user__option-wrapper .user__option-modal {
      background: #F3F3F3;
      margin-top: 8px;
      padding: 15px 25px;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 5px #00000057;
      box-shadow: 0 0 5px #00000057; }
      #logOut .user__option-wrapper .user__option-modal .modal__header {
        justify-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        border-bottom: 1px solid lightgray;
        padding-bottom: 8px; }
        #logOut .user__option-wrapper .user__option-modal .modal__header .user__name {
          font-size: 18px;
          color: #474747;
          letter-spacing: 0.02rem;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
          #logOut .user__option-wrapper .user__option-modal .modal__header .user__name i {
            margin-left: 5px;
            color: #969696;
            font-size: 20px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
          #logOut .user__option-wrapper .user__option-modal .modal__header .user__name:hover,
          #logOut .user__option-wrapper .user__option-modal .modal__header .user__name:hover i {
            color: black; }
      #logOut .user__option-wrapper .user__option-modal .modal__body {
        color: #474747;
        letter-spacing: 0.02rem;
        line-height: 55px; }
        #logOut .user__option-wrapper .user__option-modal .modal__body i {
          color: #969696;
          width: 25px;
          font-size: 18px;
          margin-right: 8px;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        #logOut .user__option-wrapper .user__option-modal .modal__body a {
          color: #474747; }
          #logOut .user__option-wrapper .user__option-modal .modal__body a:hover {
            color: black; }
            #logOut .user__option-wrapper .user__option-modal .modal__body a:hover i {
              color: black; }
        #logOut .user__option-wrapper .user__option-modal .modal__body #point {
          margin-top: 10px;
          cursor: default; }
          #logOut .user__option-wrapper .user__option-modal .modal__body #point a:hover {
            color: #474747;
            cursor: default; }
          #logOut .user__option-wrapper .user__option-modal .modal__body #point .emph {
            margin: 0 10px;
            font-size: 25px;
            color: #ac7000;
            font-weight: 600; }
      #logOut .user__option-wrapper .user__option-modal .modal__footer {
        width: 100%;
        text-align: right;
        color: #474747;
        letter-spacing: 0.02rem;
        line-height: 40px;
        border-top: 1px solid lightgray;
        padding-top: 10px;
        font-size: 18px; }
        #logOut .user__option-wrapper .user__option-modal .modal__footer .signout {
          padding: 5px 10px 5px 12px;
          border-radius: 5px;
          font-family: 'Noto Sans TC';
          border: 1px solid lightgray;
          color: #474747;
          font-size: 16px; }
          #logOut .user__option-wrapper .user__option-modal .modal__footer .signout i {
            margin-left: 5px;
            color: #969696;
            font-size: 18px;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }

/* search form */
.navbar.search-active {
  overflow: hidden; }
  .navbar.search-active .search-input {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    pointer-events: all; }
  .navbar.search-active .icon-close {
    opacity: 1; }
  .navbar.search-active .search-box {
    position: absolute;
    top: 0;
    right: 5rem; }
    .navbar.search-active .search-box .control {
      cursor: default; }
      .navbar.search-active .search-box .control .btn-material {
        -webkit-transform: scale(100);
        -ms-transform: scale(100);
        transform: scale(100);
        background-image: -webkit-linear-gradient(left, #a87f33, #00000057);
        background-image: -o-linear-gradient(left, #a87f33, #00000057);
        background-image: -webkit-gradient(linear, left top, right top, from(#a87f33), to(#00000057));
        background-image: linear-gradient(to right, #a87f33, #00000057);
        opacity: .7;
        z-index: unset; }
      .navbar.search-active .search-box .control .icon-material-search {
        opacity: 0; }
    .navbar.search-active .search-box .icon-close {
      cursor: pointer;
      margin-top: 4px; }
      .navbar.search-active .search-box .icon-close img {
        position: absolute;
        right: 0rem;
        top: 1rem;
        height: 2.5rem;
        width: auto; }

/* Search Input */
.search-input {
  position: absolute;
  top: 1rem;
  right: 0rem;
  margin: auto;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  transform: translate(40px, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .search-input input {
    color: #ccc;
    font-size: 20px;
    font-weight: lighter;
    height: 40px;
    line-height: 40px;
    border: 0;
    background: none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0; }
  .search-input ::-webkit-input-placeholder {
    color: #eee; }
  .search-input :-moz-placeholder {
    color: #eee;
    opacity: 1; }
  .search-input ::-moz-placeholder {
    color: #eee;
    opacity: 1; }
  .search-input :-ms-input-placeholder {
    color: #eee; }

.log-search {
  display: inline-block; }
  .log-search .control {
    position: absolute;
    bottom: .5rem; }
    .log-search .control .btn-material {
      position: absolute;
      top: -3rem;
      width: 38px;
      height: 38px;
      border-radius: 100%;
      background: rgba(0, 0, 0, 0.432);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: 0;
      -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
      transform-origin: 50%;
      -webkit-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
      transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1); }
    .log-search .control .icon-material-search {
      position: absolute;
      color: #fff;
      -webkit-transition: opacity 0.3s ease-in-out;
      -o-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      top: -3rem;
      left: 10px;
      line-height: 40px;
      font-size: 16px; }
    .log-search .control.left-shift-5rem {
      right: 13rem; }

.mmenu-place .signout {
  display: inline-block;
  padding: 0px 10px 0 12px;
  border-radius: 5px;
  font-family: 'Noto Sans TC';
  border: none;
  color: #474747;
  font-size: 16px;
  background: none;
  cursor: pointer; }
  .mmenu-place .signout i {
    margin-left: 5px;
    color: #969696;
    font-size: 18px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.mmenu-place .user__option-modal.mm-listitem {
  background: #F3F3F3;
  padding: 5px 15px 25px 15px;
  border-radius: 4px;
  width: 100%;
  display: block; }
  .mmenu-place .user__option-modal.mm-listitem .modal__header {
    padding-top: 25px;
    padding-left: 25px;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background: #F3F3F3; }
    .mmenu-place .user__option-modal.mm-listitem .modal__header .user__photo {
      float: left; }
    .mmenu-place .user__option-modal.mm-listitem .modal__header .user__name {
      float: left;
      font-size: 18px;
      color: #474747;
      letter-spacing: 0.02rem;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s;
      margin-top: 13px;
      margin-left: 10px; }
      .mmenu-place .user__option-modal.mm-listitem .modal__header .user__name i {
        margin-left: 5px;
        color: #969696;
        font-size: 20px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }
    .mmenu-place .user__option-modal.mm-listitem .modal__header:hover,
    .mmenu-place .user__option-modal.mm-listitem .modal__header:hover i {
      color: black; }
  .mmenu-place .user__option-modal.mm-listitem .modal__body {
    color: #474747;
    letter-spacing: 0.02rem;
    line-height: 50px;
    padding-left: 25px;
    padding-bottom: 20px; }
    .mmenu-place .user__option-modal.mm-listitem .modal__body i {
      color: #969696;
      width: 25px;
      font-size: 20px;
      margin-right: 8px;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .mmenu-place .user__option-modal.mm-listitem .modal__body a {
      color: #474747; }
      .mmenu-place .user__option-modal.mm-listitem .modal__body a:hover {
        color: black; }
        .mmenu-place .user__option-modal.mm-listitem .modal__body a:hover i {
          color: black; }
    .mmenu-place .user__option-modal.mm-listitem .modal__body #point {
      margin-top: 10px;
      cursor: default; }
      .mmenu-place .user__option-modal.mm-listitem .modal__body #point:hover {
        color: #474747;
        cursor: default; }
      .mmenu-place .user__option-modal.mm-listitem .modal__body #point .emph {
        margin: 0 10px;
        font-size: 25px;
        color: #ac7000;
        font-weight: 600; }
      .mmenu-place .user__option-modal.mm-listitem .modal__body #point .point-tooltip-wrapper {
        display: inline-block;
        width: 25px;
        position: relative; }
        .mmenu-place .user__option-modal.mm-listitem .modal__body #point .point-tooltip-wrapper .point-tooltip {
          color: gray;
          font-size: 15px;
          margin-left: 5px;
          position: relative; }
          .mmenu-place .user__option-modal.mm-listitem .modal__body #point .point-tooltip-wrapper .point-tooltip .point-tooltip__inner {
            visibility: hidden;
            opacity: 0;
            position: absolute;
            background: #000;
            color: white;
            font-size: 12px;
            right: 0%;
            top: 130%;
            width: 200px;
            padding: 8px 10px 8px 18px;
            border-radius: 5px;
            line-height: 1.5;
            -webkit-transition: .3s;
            -o-transition: .3s;
            transition: .3s; }
            .mmenu-place .user__option-modal.mm-listitem .modal__body #point .point-tooltip-wrapper .point-tooltip .point-tooltip__inner::before {
              content: '';
              border-style: solid;
              border-width: 8px 8px 0 8px;
              border-color: #000 transparent transparent transparent;
              position: absolute;
              -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
              transform: rotate(180deg);
              right: 5%;
              top: -15%; }
          .mmenu-place .user__option-modal.mm-listitem .modal__body #point .point-tooltip-wrapper .point-tooltip:hover .point-tooltip__inner {
            visibility: visible;
            opacity: 1; }
  .mmenu-place .user__option-modal.mm-listitem .modal__footer {
    position: relative;
    width: 100%;
    text-align: right;
    color: #474747;
    letter-spacing: 0.02rem;
    line-height: 40px;
    border-top: 1px solid lightgray;
    padding-top: 25px;
    font-size: 18px; }
    .mmenu-place .user__option-modal.mm-listitem .modal__footer .signout {
      display: inline-block;
      background: none;
      padding: 0px 10px 0 12px;
      border-radius: 5px;
      font-family: 'Noto Sans TC';
      border: 1px solid lightgray;
      color: #474747;
      font-size: 16px; }
      .mmenu-place .user__option-modal.mm-listitem .modal__footer .signout i {
        margin-left: 5px;
        color: #969696;
        font-size: 18px;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; }

.index__class {
  padding-top: 2rem;
  margin: 2rem 0; }
  .index__class.search-page {
    padding-top: 0rem; }
  @media (max-width: 576px) {
    .index__class {
      padding-top: 3rem; } }
  .index__class.rec-class-section {
    padding-top: 0rem; }
    @media (max-width: 991px) {
      .index__class.rec-class-section {
        padding-top: 4rem; } }
    @media (max-width: 576px) {
      .index__class.rec-class-section {
        padding-top: 3rem; } }
  .index__class.free-class-section .flex-ls-wrapper .class-thumb .thumb-body .cont,
  .index__class.free-class-section .flex-ls-wrapper .class-thumb .thumb-body .name {
    max-height: 25px;
    overflow: hidden; }
  .index__class.free-class-section .flex-ls-wrapper .class-thumb .price {
    font-size: 0; }
    .index__class.free-class-section .flex-ls-wrapper .class-thumb .price span {
      color: #969696;
      font-size: 22px; }
      @media (max-width: 576px) {
        .index__class.free-class-section .flex-ls-wrapper .class-thumb .price span {
          color: #969696 !important; } }
  .index__class .flex-ls-wrapper {
    margin: 0 auto;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 60%;
    min-width: 1100px; }
    @media (max-width: 1150px) {
      .index__class .flex-ls-wrapper {
        min-width: 970px; } }
    @media (max-width: 990px) {
      .index__class .flex-ls-wrapper {
        width: 80%;
        min-width: 750px; } }
    @media (max-width: 768px) {
      .index__class .flex-ls-wrapper {
        width: 90%;
        min-width: 550px; } }
    @media (max-width: 576px) {
      .index__class .flex-ls-wrapper {
        min-width: 375px; } }
    .index__class .flex-ls-wrapper .title-wrapper.col-12 {
      padding-left: 10px;
      margin-bottom: 1rem; }
    .index__class .flex-ls-wrapper .coursetitle {
      color: #474747;
      font-size: 25px; }
      .index__class .flex-ls-wrapper .coursetitle img {
        margin-bottom: 10px;
        margin-right: 10px; }
        @media (max-width: 425px) {
          .index__class .flex-ls-wrapper .coursetitle img {
            display: none; } }
      .index__class .flex-ls-wrapper .coursetitle .more {
        float: right;
        margin-right: 10px;
        font-size: 18px;
        line-height: 50px;
        color: #474747;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
        .index__class .flex-ls-wrapper .coursetitle .more:hover {
          text-decoration: none;
          color: #000; }
      .index__class .flex-ls-wrapper .coursetitle #tooltip {
        display: inline-block;
        font-size: 22px;
        margin-left: 5px;
        color: #969696; }
    .index__class .flex-ls-wrapper .class-thumb {
      height: 390px;
      padding: 10px;
      cursor: pointer;
      color: #000; }
      @media (max-width: 990px) {
        .index__class .flex-ls-wrapper .class-thumb {
          height: 410px; } }
      .index__class .flex-ls-wrapper .class-thumb .thumb {
        background: #fff;
        width: 100%;
        height: 100%;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        overflow: hidden; }
        .index__class .flex-ls-wrapper .class-thumb .thumb a {
          color: #000; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip {
          visibility: hidden;
          z-index: 2;
          opacity: .40;
          width: 100%;
          height: 400px;
          padding: 0px 20px;
          background: #fff;
          color: #969696;
          position: absolute;
          top: 0%;
          left: 100%;
          border-radius: 5px;
          font-size: 16px;
          -webkit-transform: translateY(8px);
          -ms-transform: translateY(8px);
          transform: translateY(8px);
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          -webkit-box-shadow: 0 0 10px rgba(77, 77, 77, 0.274);
          box-shadow: 0 0 10px rgba(77, 77, 77, 0.274); }
          @media (max-width: 1150px) {
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip {
              display: none; } }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__header {
            padding-top: 1rem; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__header .update {
              font-size: 12px; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__header .title {
              font-size: 20px;
              color: #474747;
              margin-top: .5rem; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__body .intro {
            display: block;
            display: -webkit-box;
            max-width: 300px;
            height: 156.8px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 1.4;
            -webkit-line-clamp: 7;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            margin-top: 1rem; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__footer {
            margin-top: 1rem; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__footer button {
              font-size: 13px;
              background: none;
              border: none;
              border-radius: 3px;
              padding: 5px 10px;
              margin-right: 5px; }
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__footer button.add {
                background-color: #f3788d;
                color: #fff; }
                .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__footer button.add:hover {
                  background-color: #eb3654; }
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__footer button.buy {
                background-color: #ffc240; }
                .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip .tooltip__footer button.buy:hover {
                  background-color: #e9a003; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-tooltip::after {
            content: " ";
            width: 30px;
            height: 30px;
            background-color: #fff;
            border-radius: 3px;
            position: absolute;
            z-index: -1;
            left: -3%;
            top: 5%;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
        .index__class .flex-ls-wrapper .class-thumb .thumb:hover .thumb-tooltip {
          visibility: visible;
          -webkit-transform: translateY(-2px);
          -ms-transform: translateY(-2px);
          transform: translateY(-2px);
          opacity: 1;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        .index__class .flex-ls-wrapper .class-thumb .thumb.right .thumb-tooltip {
          top: -20%;
          left: 115%; }
        .index__class .flex-ls-wrapper .class-thumb .thumb.right .thumb-tooltip::after {
          top: 40%;
          left: -12%; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .left.thumb-tooltip {
          top: 0%;
          left: -100%; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .left.thumb-tooltip::after {
          top: 5%;
          left: 93%;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          background: #fff; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .price {
          display: inline;
          position: absolute;
          right: 1.5rem;
          bottom: 1.2rem;
          display: inline-block;
          color: #d68b00;
          font-size: 28px; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .price__free {
            color: #969696;
            font-size: 22px; }
        .index__class .flex-ls-wrapper .class-thumb .thumb__on {
          border-color: #d69200; }
          .index__class .flex-ls-wrapper .class-thumb .thumb__on .price {
            font-size: 0; }
            .index__class .flex-ls-wrapper .class-thumb .thumb__on .price span {
              font-size: 28px; }
          .index__class .flex-ls-wrapper .class-thumb .thumb__on .cont {
            max-height: 31px;
            overflow: hidden; }
          .index__class .flex-ls-wrapper .class-thumb .thumb__on .name {
            max-height: 30px;
            overflow: hidden; }
        .index__class .flex-ls-wrapper .class-thumb .thumb__fund {
          border-color: #7e6530; }
          .index__class .flex-ls-wrapper .class-thumb .thumb__fund .price span {
            font-size: 20px; }
        .index__class .flex-ls-wrapper .class-thumb .thumb__free {
          border-color: #474747; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header {
          height: 150px;
          overflow: hidden; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header .poster {
            position: relative;
            display: block;
            width: 100%;
            height: 150px;
            overflow: hidden;
            background-size: 110%;
            background-position: center;
            -webkit-transition-duration: .5s;
            -o-transition-duration: .5s;
            transition-duration: .5s; }
            @media (max-width: 1150px) {
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header .poster {
                background-size: 120%; } }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header .poster .add {
              background: none;
              border: 3px solid white;
              height: 60px;
              width: 60px;
              font-size: 30px;
              border-radius: 100%;
              color: white;
              position: relative;
              top: 45%;
              left: 50%;
              margin-top: -30px;
              margin-left: -30px;
              visibility: hidden;
              opacity: 0;
              -webkit-transition: .5s;
              -o-transition: .5s;
              transition: .5s; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header .poster .mark {
              height: 30px;
              width: 80px;
              line-height: 20px;
              font-size: 18px;
              text-align: center;
              color: #fff;
              position: absolute;
              left: 0%;
              top: 0%;
              border-bottom-right-radius: 5px; }
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header .poster .mark__on {
                background: #d69200; }
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header .poster .mark__fund {
                background: #7e6530; }
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-header .poster .mark__free {
                background: #474747; }
        .index__class .flex-ls-wrapper .class-thumb .thumb:hover .poster {
          background-size: 130%; }
          .index__class .flex-ls-wrapper .class-thumb .thumb:hover .poster .add {
            visibility: visible;
            opacity: 1; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .title {
          font-size: 22px;
          padding: 10px 15px 5px 15px;
          max-height: 80px;
          overflow: hidden; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont,
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .time,
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .name,
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .progress {
          padding: 5px 15px;
          color: #969696;
          font-size: 16px; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .star-rating {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          font-size: 15px;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          width: 100%; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .star-rating div {
            position: relative;
            display: inline-block;
            margin-right: 4px; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .star-rating div.detail-num span {
              font-size: 16px;
              margin-left: 5px; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .star-rating div .star-progress {
              position: relative; }
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .star-rating div .star-progress::before {
                font-family: 'Font Awesome 5 Free';
                content: '\f005';
                color: lightgray;
                font-weight: 900;
                z-index: 0;
                position: relative;
                display: inline-block; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .star-rating div .star-progress-filled {
              position: absolute;
              overflow: hidden;
              top: 0;
              left: 0; }
              .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .star-rating div .star-progress-filled::before {
                font-family: 'Font Awesome 5 Free';
                content: '\f005';
                color: #ffc240;
                font-weight: 900;
                z-index: 1;
                position: relative;
                display: inline-block; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__title {
          width: 100%;
          font-size: 16px; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__title .date {
            float: right;
            margin-right: 3px; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__title .date .num {
              color: #b90000; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__bar {
          width: 100%;
          height: 10px;
          border-radius: 10px;
          background: #F3F3F3;
          overflow: hidden;
          margin: 5px 0; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__bar .process__thumb {
            height: 15px;
            max-width: 100%;
            background-image: -webkit-gradient(linear, left top, right top, from(#d69200), to(#ffc240));
            background-image: -webkit-linear-gradient(left, #d69200, #ffc240);
            background-image: -o-linear-gradient(left, #d69200, #ffc240);
            background-image: linear-gradient(to right, #d69200, #ffc240); }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__people {
          width: 100%; }
          .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__people .process__static {
            font-size: 16px;
            display: inline-block;
            width: 100%;
            text-align: left; }
            .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-body .cont .process__people .process__static .num {
              color: #b90000; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .thumb-footer .pre {
          font-size: 18px;
          color: #969696; }
        .index__class .flex-ls-wrapper .class-thumb .thumb .add-mark {
          display: inline;
          position: absolute;
          left: 30px;
          bottom: 1.5rem;
          font-size: 22px;
          color: #ffc240; }

.pagination-wrapper {
  width: 100%;
  text-align: center;
  padding: .5rem 0 0 0; }
  .pagination-wrapper .container {
    text-align: center; }
    .pagination-wrapper .container .pagination {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
      .pagination-wrapper .container .pagination .page-item .page-link {
        color: #474747;
        cursor: pointer; }
        .pagination-wrapper .container .pagination .page-item .page-link:focus, .pagination-wrapper .container .pagination .page-item .page-link:active {
          outline: none; }
      .pagination-wrapper .container .pagination .page-item.active .page-link {
        background-color: #474747;
        border-color: #474747;
        color: #fff; }

.purchasePop.modal .modal-content {
  width: 100%; }
  .purchasePop.modal .modal-content .modal-header .modal-title {
    width: 100%;
    text-align: left;
    border: none;
    font-size: 18px; }
  .purchasePop.modal .modal-content .modal-body {
    font-size: 20px;
    font-weight: 500; }
    .purchasePop.modal .modal-content .modal-body .price {
      font-family: 'Open Sans';
      font-weight: 900;
      font-size: 28px;
      color: #ac7000;
      margin-bottom: 0px; }
      .purchasePop.modal .modal-content .modal-body .price .cn {
        font-size: 18px;
        font-weight: 500; }
      .purchasePop.modal .modal-content .modal-body .price .strike {
        color: #969696;
        font-weight: 500;
        font-size: 18px;
        text-decoration: line-through; }
    .purchasePop.modal .modal-content .modal-body .name {
      font-size: 15px;
      font-weight: 300; }
    .purchasePop.modal .modal-content .modal-body .notice {
      font-size: 15px;
      font-weight: 300;
      color: #b90000; }
    .purchasePop.modal .modal-content .modal-body .note {
      font-size: 18px; }
    .purchasePop.modal .modal-content .modal-body #payWay {
      font-size: 16px;
      width: 50%;
      outline: none;
      margin-top: 10px;
      margin-bottom: 10px;
      padding: 5px; }
  .purchasePop.modal .modal-content .modal-footer .confirm {
    color: black;
    background-color: #ffc240;
    border-color: #ffc240;
    outline: none; }
    .purchasePop.modal .modal-content .modal-footer .confirm:hover {
      background-color: #d69200; }
    .purchasePop.modal .modal-content .modal-footer .confirm:active, .purchasePop.modal .modal-content .modal-footer .confirm:focus {
      outline: none; }

footer {
  display: block;
  width: 100%;
  background: #000;
  color: lightgray;
  font-size: 15px; }
  footer .footer-wrapper {
    width: 70%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: .5rem; }
    footer .footer-wrapper li {
      margin-top: 10px; }
      footer .footer-wrapper li a {
        color: #969696;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s; }
        footer .footer-wrapper li a:hover {
          color: white; }
          footer .footer-wrapper li a:hover img.moviecool-footer {
            -webkit-filter: brightness(1);
            filter: brightness(1); }
        footer .footer-wrapper li a i {
          width: 20px; }
    footer .footer-wrapper .title {
      font-size: 20px;
      padding: 0; }
    footer .footer-wrapper img.moviecool-footer {
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5);
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      margin-right: 5px;
      margin-top: -3px; }
    footer .footer-wrapper .col-12 {
      margin-top: 10px;
      margin-bottom: 0px;
      color: #969696; }
      footer .footer-wrapper .col-12 iframe {
        margin-bottom: 10px; }
